.row{
    max-width: auto;
    margin : 0 auto;
    margin-top: 40px;
}

.butt{
     display: inline-block;
     padding:12px;
     margin-left: auto;
     background-color: grey;
}
.background{
    background-color: red;
}
