<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../static/test.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/test.js"></script>
</head>
<script>
 function show(param_div_id) {
    alert("work fine");
    document.getElementById('main_place').innerHTML = document.getElementById(param_div_id).innerHTML;
    $("#questNo").text(param_div_id);
   document.getElementById("labl"+param_div_id).style.backgroundColor="green"; 
  }
$(document).ready(function(){
        {% for row in rows %}
        $("#{{row[0]}}").hide();
        {% endfor %}
        });
</script>
<body>
  <div>
      <h1> <center>{{rows[0][6]}} Quiz </center></h1>
  </div>
    <div class="row">
        {% for row in rows%}
        <label class="butt" id="labl{{row[0]}}" onclick="show('{{row[0]}}')">{{row[0]}}</label>
        {% endfor %}
      </div>
<div>
  <center><h1>Question No:<span id="questNo">2</span></h2></center>
</div>
<div id="main_place">
</div>
    {% for row in rows%}
    <div style="width:100%;background-color:grey;" class="container" id="{{row[0]}}">
  <div class="row">
      <div style="width:25%;float:left;background-color:green" class="col-sm-4">
      </div>
      <div style="width:50%;background-color:yellow;border-style: solid" class="col-sm-4">
        <div class="rounded-0">
            <pre><strong readonly>
                {{row[1]}}
            </strong>
        </pre>
        </div>
        <div class="container" style="background-color:white;width:100%;float:left">
          <div class="checkbox">
              <label class="form-check-label"><input type="checkbox" class="form-check-input">{{row[2]}} </label>
          </div>
          <div>
              <label class="form-check-label"><input type="checkbox" class="form-check-input">{{row[3]}}</label>
          </div>
          <div>
              <label class="form-check-label"><input type="checkbox" class="form-check-input">{{row[4]}}</label>
          </div>
          <div>
              <label class="form-check-label"><input type="checkbox" class="form-check-input">{{row[5]}}</label>
          </div>
        </div>
        <div style="float:right">
          <button type="button" class="btn btn-info">Next</button>
          <button type="button" class="btn btn-info">Finish</button>
        </div>
      </div>
      <div style="width:25%;float:right;background-color:blue" class="col-sm-4">
      </div>
    </div>
      {% endfor %}
</div>
</body>
</html>
