<html>
  <head>
    <title>Flask Intro - userInfo page</title>
  </head>
  <body>
    <div class="container">
      <h1>Here you get everything about userDetail</h1>
      <form method="POST" enctype="multipart/form-data">
          <label>Section</label>
          <select>
              <option>Programming</option>
              <option>DBMS</option>
              <option>Math</option>
              <option>Reasoning</option>
              <Option>GK</option>
          </select><br><br> 
          <input type="file" name="file">
          <input type="submit">
          </form>
        <a href="www.google.com">Login</a>
      <br>
    </div>
  </body>
</html>

